<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="connection1" value="server=172.23.81.133;database=MonoceptDb;uid=sa;pwd=pass123"/>
		<add key="connection2" value="server=172.23.91.144;database=AurionProDb;uid=sa;pwd=pass123"/>
		<add key="shubh" value="jain"/>

	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>